<h1>{{nomeComponente}}</h1>
<section class="bloco1">
    <h2>Bloco 1</h2>
    <p id="texto">
        <i><strong>Texto 1</strong></i><br><br>
        Lorem ipsum dolor sit amet. Qui iusto dolores ea enim sunt qui voluptatibus voluptatum id laboriosam quis. In
        ratione harum non sequi enim et dolores consequatur ea inventore voluptatem At quibusdam corrupti.

        Sed rerum eveniet aut totam asperiores id dolores voluptas. Ut numquam voluptas sed amet illum aut porro quia et
        ratione reiciendis aut facilis natus rem eius voluptatibus sit deleniti ducimus. Id odio quia qui nihil maiores
        et assumenda molestiae ex recusandae internos est libero illo in alias quis. Ea minus aperiam aut nostrum
        consequatur est porro soluta.

        Id quidem galisum ex nisi consequuntur et magni eaque eum molestiae iure qui incidunt obcaecati ut odio impedit
        et tempora tempora. Quo galisum labore et Quis aperiam aut mollitia magni. At quam enim nam eligendi explicabo
        est commodi cupiditate ad commodi expedita.
    </p>
</section>

<section class="bloco2">
    <h2>Bloco 2</h2>
    <p id="texto">
        <i><strong>Texto 2</strong></i><br><br>
        Lorem ipsum dolor sit amet. Qui iusto dolores ea enim sunt qui voluptatibus voluptatum id laboriosam quis. In
        ratione harum non sequi enim et dolores consequatur ea inventore voluptatem At quibusdam corrupti.

        Sed rerum eveniet aut totam asperiores id dolores voluptas. Ut numquam voluptas sed amet illum aut porro quia et
        ratione reiciendis aut facilis natus rem eius voluptatibus sit deleniti ducimus. Id odio quia qui nihil maiores
        et assumenda molestiae ex recusandae internos est libero illo in alias quis. Ea minus aperiam aut nostrum
        consequatur est porro soluta.

        Id quidem galisum ex nisi consequuntur et magni eaque eum molestiae iure qui incidunt obcaecati ut odio impedit
        et tempora tempora. Quo galisum labore et Quis aperiam aut mollitia magni. At quam enim nam eligendi explicabo
        est commodi cupiditate ad commodi expedita.
    </p>
</section>
