<app-header></app-header>

<app-listagem></app-listagem>
<br><br><br><br><br>


<div class="container">
  <h1>{{ tituloComponente }}</h1>
  <div class="row">
    <div class="col-">
      <img src={{colaborador.imagem}} width="110px" alt="">
    </div>
    <div class="col-sm">
      <ul>
        <li> <span class="negrito">ID - </span> {{ colaborador.id}} </li>
        <li> <span class="negrito">Cargo - </span> {{ colaborador.cargo}} </li>
        <li> <span class="negrito">Nome - </span> {{ colaborador.nome}} </li>
        <li> <span class="negrito">Salário - </span> {{ colaborador.salario}} </li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>